@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

.App {
  text-align: center;
}

.logo {
  font-family: "Romanesco", sans-serif;
  font-weight: 500;
  color: azure;
  margin: 0% 0%;
  padding: 9px 18px;
  border-radius: 50%;
  border: solid azure;
  max-height: fit-content;
  animation: binksake 2s infinite;
  transition: 0.3s ease-in-out;
}

@keyframes binksake {
  0% {
    background-color: none;
  }
  50% {
    background-color: #000d53;
  }
  100% {
    background-color: #ecbe3a;
  }
}
.learn {
  border: solid black;
  padding: 0.3em 2%;
  margin-left: 1%;
  color: black;
  box-sizing: border-box;
}
.learn:hover {
  border-color: white;
  margin-left: 3%;
}
/* text typing effect */
.flux {
  font-size: 20px;
  animation: 1s fluxing linear infinite;
}
@keyframes fluxing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
